%p.story
  I will travel to #{@trip.location} on #{trip_date @trip.from}.

= form_tag :action => "to" do
  = label_tag :from, "Until when?"
  &nbsp;
  = text_field_tag :to, "2012-07-01", :size => 10, :id => "datepicker"
  &nbsp;
  = hidden_field_tag :id, @trip.id
  = submit_tag "Proceed"

:javascript
  $(function() {
    $( "#datepicker" ).datepicker({
      showAnim: "slideDown",
      dateFormat: "yy-mm-dd"
    });
  });
