%p.story
  I will travel to #{@trip.location}.

= form_tag :action => "from" do
  = label_tag :from, "From when?"
  &nbsp;
  = text_field_tag :from, "2012-06-30", :id => "datepicker", :size => 10
  &nbsp;
  = hidden_field_tag :id, @trip.id
  = submit_tag "Proceed"

:javascript
  $(function() {
    $( "#datepicker" ).datepicker({
      showAnim: "slideDown",
      dateFormat: "yy-mm-dd"
    });
  });
