%p.story
  I will travel to #{@trip.location} for #{trip_duration @trip}
  from #{trip_date @trip.from}, to #{trip_date @trip.to}.

= link_to "Plan my trip", :controller => "home", :action => "index",
  :id => @trip.id 
