.span-6
  .section.section-plan
    = render :partial => "details/plan-overview",
      :locals => { :items => @items1 }
.span-6
  .section.section-weather
    = render :partial => "details/weather-overview",
      :locals => { :items => @items2 }
.span-6
  .section.section-clothes
    = render :partial => "details/clothes-overview",
      :locals => { :items => @items3 }
.span-6.last
  .section.section-pictures
    = render :partial => "details/pictures-overview",
      :locals => { :items => @items4 }

:javascript
  $('.section-plan')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/plan.html?id=#{@trip.id}";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
  $('.section-weather')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/weather.html?id=#{@trip.id}";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
  $('.section-clothes')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/clothes.html?id=#{@trip.id}";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
  $('.section-pictures')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/pictures.html?id=#{@trip.id}";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
