%h2 Attributions

%ul
  %li
    Maps ©
    =link_to "OpenStreetMap", "http://www.openstreetmap.org"
    contributors,
    = link_to "CC BY-SA", "http://creativecommons.org/licenses/by-sa/2.0/"
  %li
    = link_to "Weather icons", "http://bharathp666.deviantart.com/art/Android-Weather-Icons-180719113"
  %li
    = link_to "MK Media Productions Clothes. by @yakobusan Jakob Montrasio, on Flickr", "http://www.flickr.com/photos/yakobusan/3252980056/"
    ,
    = link_to "CC BY-SA", "http://creativecommons.org/licenses/by-sa/2.0/"
  %li
    = link_to "London Eye by jimmyharris, on Flickr", "http://www.flickr.com/photos/jimmyharris/2523480499/"
    ,
    = link_to "CC BY-SA", "http://creativecommons.org/licenses/by-sa/2.0/"
  %li
    = link_to "London by Metro Centric, on Flickr", "http://www.flickr.com/photos/16782093@N03/3808446391/"
    ,
    = link_to "CC BY-SA", "http://creativecommons.org/licenses/by-sa/2.0/"
  %li
    = link_to "London England by az1172, on Flickr", "http://www.flickr.com/photos/az1172/2268286093/"
    ,
    = link_to "CC BY-SA", "http://creativecommons.org/licenses/by-sa/2.0/"
