.overview-link
  = link_to "Back to overview", :controller => "home", :id => @trip.id
.items
  - @items.each do |item|
    .item
      %p
        = check_box_tag "item#{item.id}"
        = label_tag "item#{item.id}", item.text
        - if item.suggested          
          %span.suggested-icon
            = link_to image_tag("/images/suggested-icon.png"),
              :controller => "home", :action => "suggestions", :id => @trip.id
        %span.actions
          = link_to "Edit", :action => "edit_item", :id => @trip.id
          = link_to "Remove", :action => "remove_item", :id => @trip.id,
            :item_id => item.id, :category => @category
  .item_editor
    %p
      = form_tag :action => "add_item" do |form|
        = text_field_tag :item_title
        &nbsp;
        = hidden_field_tag :id, @trip.id
        = hidden_field_tag :category, @category
        = submit_tag "Save"

  .item_adder
    = link_to "+ Add item", "#"

:javascript
  $(".item_adder").click(function () {
    $(".item_editor").toggle();
  });
