.overview-link
  = link_to "Back to overview", :controller => "home"
.items
  - @items.each do |item|
    %p
      = check_box_tag "item"
      = label_tag "item", item
      %span.actions
        = link_to "Edit", :action => "edit_item"
        = link_to "Remove", :action => "remove_item"
  .item_adder
    = link_to "+ Add item", :action => "add_item"
  